streamlit
pandas
numpy
pillow
scikit-learn
imbalanced-learn
lightgbm
shap
plotly
category-encoders
thefuzz
python-dotenv
nest_asyncio
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
huggingface-hub
transformers
sentence-transformers
